@import "compass/css3/box-sizing";

$small-grid-margin: 2 !default;
$small-grid-count: 12 !default;
$small-grid-prefix: 'small' !default;

$large-grid-margin: 2 !default;
$large-grid-count: 12 !default;
$large-grid-prefix: 'large' !default;

$fluid-grid-set-box-sizing: true !default;

@mixin small-fluid-grid()
{
	@include fluid-grid($small-grid-count, $small-grid-margin, $small-grid-prefix);
}

@mixin large-fluid-grid()
{
	@include fluid-grid($large-grid-count, $large-grid-margin, $large-grid-prefix);
}

// Build the classes needed for a grid
@mixin fluid-grid($count, $margin, $prefix)
{
	// Create the row classes
	.#{$prefix}-row
	{
		@include fluid-row($margin);
	}

	// Create the column classes
	@for $i from 1 through $count
	{
		.#{$prefix}-col-#{$i}
		{
			@include fluid-column($i, $count, $margin);
		}
	}

	// Create the offset classes
	@for $i from 1 through $count - 1
	{
		.#{$prefix}-offset-#{$i}
		{
			//margin-left: ($i * $single-width) + ($i * $margin) + $margin-actual;
			@include fluid-offset($i, $count, $margin);
		}
	}
	
	.#{$prefix}-centered
	{
		@include fluid-centered();
	}
}

// Generic mixins

@mixin fluid-row($margin: $small-grid-margin)
{
	$margin-actual: $margin/2;
	
	@if($fluid-grid-set-box-sizing)
	{
		-webkit-box-sizing: border-box;
		box-sizing: border-box;	
	}
	
	overflow: hidden;
	margin-left: 0% - ($margin-actual);
	margin-right: 0% - ($margin-actual);
	clear: both;
}

@mixin fluid-offset($offset, $count: $small-grid-count, $margin: $small-grid-margin)
{
	$margin-actual: $margin/2;
	$single-width: (100% - ($count * $margin)) / $count;
	margin-left: ($offset * $single-width) + ($offset * $margin) + $margin-actual;
}

@mixin fluid-column($cols, $count: $small-grid-count, $margin: $small-grid-margin)
{
	$margin-actual: $margin/2;
	$single-width: (100% - ($count * $margin)) / $count;
	
	@if($fluid-grid-set-box-sizing)
	{
		-webkit-box-sizing: border-box;
		box-sizing: border-box;	
	}
	
	margin: 0 ($margin-actual)*1%;
	float: left;
	display: block;
	width: ($cols * $single-width) + (($cols - 1) * $margin);
}

@mixin fluid-centered()
{
	margin: 0 auto;
	float: none !important;
}