.large-centered {
  margin-left: auto !important;
  margin-right: auto !important;
  float: none !important; }

.large-row {
  margin-left: -1%;
  margin-right: -1%;
  /**
   * For IE 6/7 only
   * Include this rule to trigger hasLayout and contain floats.
   */ }
  .large-row:before, .large-row:after {
    content: " ";
    /* 1 */
    display: table;
    /* 2 */ }
  .large-row:after {
    clear: both; }
  .large-row {
    *zoom: 1; }

.large-col-1 {
  width: 6.33333%; }
  .large-col-1, .large-col-2, .large-col-3, .large-col-4, .large-col-5, .large-col-6, .large-col-7, .large-col-8, .large-col-9, .large-col-10, .large-col-11, .large-col-12 {
    float: left;
    margin-left: 1%;
    margin-right: 1%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }

.large-col-2 {
  width: 14.66667%; }

.large-col-3 {
  width: 23%; }

.large-col-4 {
  width: 31.33333%; }

.large-col-5 {
  width: 39.66667%; }

.large-col-6 {
  width: 48%; }

.large-col-7 {
  width: 56.33333%; }

.large-col-8 {
  width: 64.66667%; }

.large-col-9 {
  width: 73%; }

.large-col-10 {
  width: 81.33333%; }

.large-col-11 {
  width: 89.66667%; }

.large-col-12 {
  width: 98%; }

.large-offset-1 {
  margin-left: 8.33333%; }

.large-push-1 {
  position: relative;
  right: auto;
  left: 8.33333%; }

.large-pull-1 {
  position: relative;
  left: auto;
  right: 8.33333%; }

.large-offset-2 {
  margin-left: 16.66667%; }

.large-push-2 {
  position: relative;
  right: auto;
  left: 16.66667%; }

.large-pull-2 {
  position: relative;
  left: auto;
  right: 16.66667%; }

.large-offset-3 {
  margin-left: 25%; }

.large-push-3 {
  position: relative;
  right: auto;
  left: 25%; }

.large-pull-3 {
  position: relative;
  left: auto;
  right: 25%; }

.large-offset-4 {
  margin-left: 33.33333%; }

.large-push-4 {
  position: relative;
  right: auto;
  left: 33.33333%; }

.large-pull-4 {
  position: relative;
  left: auto;
  right: 33.33333%; }

.large-offset-5 {
  margin-left: 41.66667%; }

.large-push-5 {
  position: relative;
  right: auto;
  left: 41.66667%; }

.large-pull-5 {
  position: relative;
  left: auto;
  right: 41.66667%; }

.large-offset-6 {
  margin-left: 50%; }

.large-push-6 {
  position: relative;
  right: auto;
  left: 50%; }

.large-pull-6 {
  position: relative;
  left: auto;
  right: 50%; }

.large-offset-7 {
  margin-left: 58.33333%; }

.large-push-7 {
  position: relative;
  right: auto;
  left: 58.33333%; }

.large-pull-7 {
  position: relative;
  left: auto;
  right: 58.33333%; }

.large-offset-8 {
  margin-left: 66.66667%; }

.large-push-8 {
  position: relative;
  right: auto;
  left: 66.66667%; }

.large-pull-8 {
  position: relative;
  left: auto;
  right: 66.66667%; }

.large-offset-9 {
  margin-left: 75%; }

.large-push-9 {
  position: relative;
  right: auto;
  left: 75%; }

.large-pull-9 {
  position: relative;
  left: auto;
  right: 75%; }

.large-offset-10 {
  margin-left: 83.33333%; }

.large-push-10 {
  position: relative;
  right: auto;
  left: 83.33333%; }

.large-pull-10 {
  position: relative;
  left: auto;
  right: 83.33333%; }

.large-offset-11 {
  margin-left: 91.66667%; }

.large-push-11 {
  position: relative;
  right: auto;
  left: 91.66667%; }

.large-pull-11 {
  position: relative;
  left: auto;
  right: 91.66667%; }

.demo-4-to-2 .row {
  overflow: hidden;
  margin-left: -1%;
  margin-right: -1%;
  clear: both; }
.demo-4-to-2 .col {
  width: 23%; }
.demo-4-to-2 span.mq {
  display: none; }

@media screen and (max-width: 800px) {
  .demo-4-to-2 .row {
    overflow: hidden;
    margin-left: -1%;
    margin-right: -1%;
    clear: both; }
  .demo-4-to-2 .col {
    width: 31.33333%; }
    .demo-4-to-2 .col:nth-child(2n+1) {
      margin-left: 17.66667%; }
  .demo-4-to-2 span.mq {
    display: block; }
  .demo-4-to-2 span.non-mq {
    display: none; } }
span.small {
  display: none; }

span.large {
  display: block; }
