/* line 170, ../../sass/fluid-grid.scss */
.large-centered { margin-left: auto !important; margin-right: auto !important; float: none !important; }

/* line 40, ../../sass/fluid-grid.scss */
[class^=large-col] { -webkit-box-sizing: border-box; box-sizing: border-box; min-height: 1px; float: left; display: block; margin-left: 1%; margin-right: 1%; }

/* line 53, ../../sass/fluid-grid.scss */
.large-row { -webkit-box-sizing: border-box; box-sizing: border-box; overflow: hidden; margin-left: -1%; margin-right: -1%; clear: both; }

/* line 63, ../../sass/fluid-grid.scss */
.large-col-1 { width: 6.33333%; }

/* line 63, ../../sass/fluid-grid.scss */
.large-col-2 { width: 14.66667%; }

/* line 63, ../../sass/fluid-grid.scss */
.large-col-3 { width: 23%; }

/* line 63, ../../sass/fluid-grid.scss */
.large-col-4 { width: 31.33333%; }

/* line 63, ../../sass/fluid-grid.scss */
.large-col-5 { width: 39.66667%; }

/* line 63, ../../sass/fluid-grid.scss */
.large-col-6 { width: 48%; }

/* line 63, ../../sass/fluid-grid.scss */
.large-col-7 { width: 56.33333%; }

/* line 63, ../../sass/fluid-grid.scss */
.large-col-8 { width: 64.66667%; }

/* line 63, ../../sass/fluid-grid.scss */
.large-col-9 { width: 73%; }

/* line 63, ../../sass/fluid-grid.scss */
.large-col-10 { width: 81.33333%; }

/* line 63, ../../sass/fluid-grid.scss */
.large-col-11 { width: 89.66667%; }

/* line 63, ../../sass/fluid-grid.scss */
.large-col-12 { width: 98%; }

/* line 72, ../../sass/fluid-grid.scss */
.large-offset-1 { margin-left: 9.33333%; }

/* line 78, ../../sass/fluid-grid.scss */
.large-push-1 { position: relative; left: 8.33333%; right: auto; }

/* line 84, ../../sass/fluid-grid.scss */
.large-pull-1 { position: relative; right: 8.33333%; left: auto; }

/* line 72, ../../sass/fluid-grid.scss */
.large-offset-2 { margin-left: 17.66667%; }

/* line 78, ../../sass/fluid-grid.scss */
.large-push-2 { position: relative; left: 16.66667%; right: auto; }

/* line 84, ../../sass/fluid-grid.scss */
.large-pull-2 { position: relative; right: 16.66667%; left: auto; }

/* line 72, ../../sass/fluid-grid.scss */
.large-offset-3 { margin-left: 26%; }

/* line 78, ../../sass/fluid-grid.scss */
.large-push-3 { position: relative; left: 25%; right: auto; }

/* line 84, ../../sass/fluid-grid.scss */
.large-pull-3 { position: relative; right: 25%; left: auto; }

/* line 72, ../../sass/fluid-grid.scss */
.large-offset-4 { margin-left: 34.33333%; }

/* line 78, ../../sass/fluid-grid.scss */
.large-push-4 { position: relative; left: 33.33333%; right: auto; }

/* line 84, ../../sass/fluid-grid.scss */
.large-pull-4 { position: relative; right: 33.33333%; left: auto; }

/* line 72, ../../sass/fluid-grid.scss */
.large-offset-5 { margin-left: 42.66667%; }

/* line 78, ../../sass/fluid-grid.scss */
.large-push-5 { position: relative; left: 41.66667%; right: auto; }

/* line 84, ../../sass/fluid-grid.scss */
.large-pull-5 { position: relative; right: 41.66667%; left: auto; }

/* line 72, ../../sass/fluid-grid.scss */
.large-offset-6 { margin-left: 51%; }

/* line 78, ../../sass/fluid-grid.scss */
.large-push-6 { position: relative; left: 50%; right: auto; }

/* line 84, ../../sass/fluid-grid.scss */
.large-pull-6 { position: relative; right: 50%; left: auto; }

/* line 72, ../../sass/fluid-grid.scss */
.large-offset-7 { margin-left: 59.33333%; }

/* line 78, ../../sass/fluid-grid.scss */
.large-push-7 { position: relative; left: 58.33333%; right: auto; }

/* line 84, ../../sass/fluid-grid.scss */
.large-pull-7 { position: relative; right: 58.33333%; left: auto; }

/* line 72, ../../sass/fluid-grid.scss */
.large-offset-8 { margin-left: 67.66667%; }

/* line 78, ../../sass/fluid-grid.scss */
.large-push-8 { position: relative; left: 66.66667%; right: auto; }

/* line 84, ../../sass/fluid-grid.scss */
.large-pull-8 { position: relative; right: 66.66667%; left: auto; }

/* line 72, ../../sass/fluid-grid.scss */
.large-offset-9 { margin-left: 76%; }

/* line 78, ../../sass/fluid-grid.scss */
.large-push-9 { position: relative; left: 75%; right: auto; }

/* line 84, ../../sass/fluid-grid.scss */
.large-pull-9 { position: relative; right: 75%; left: auto; }

/* line 72, ../../sass/fluid-grid.scss */
.large-offset-10 { margin-left: 84.33333%; }

/* line 78, ../../sass/fluid-grid.scss */
.large-push-10 { position: relative; left: 83.33333%; right: auto; }

/* line 84, ../../sass/fluid-grid.scss */
.large-pull-10 { position: relative; right: 83.33333%; left: auto; }

/* line 72, ../../sass/fluid-grid.scss */
.large-offset-11 { margin-left: 92.66667%; }

/* line 78, ../../sass/fluid-grid.scss */
.large-push-11 { position: relative; left: 91.66667%; right: auto; }

/* line 84, ../../sass/fluid-grid.scss */
.large-pull-11 { position: relative; right: 91.66667%; left: auto; }

/* line 8, ../../compass/src/enhanced.scss */
.demo-4-to-2 .row { overflow: hidden; margin-left: -1%; margin-right: -1%; clear: both; }
/* line 13, ../../compass/src/enhanced.scss */
.demo-4-to-2 .col { width: 23%; }
/* line 18, ../../compass/src/enhanced.scss */
.demo-4-to-2 span.mq { display: none; }

@media screen and (max-width: 800px) { /* line 28, ../../compass/src/enhanced.scss */
  .demo-4-to-2 .row { overflow: hidden; margin-left: -1%; margin-right: -1%; clear: both; }
  /* line 33, ../../compass/src/enhanced.scss */
  .demo-4-to-2 .col { width: 31.33333%; }
  /* line 37, ../../compass/src/enhanced.scss */
  .demo-4-to-2 .col:nth-child(2n+1) { margin-left: 17.66667%; }
  /* line 43, ../../compass/src/enhanced.scss */
  .demo-4-to-2 span.mq { display: block; }
  /* line 48, ../../compass/src/enhanced.scss */
  .demo-4-to-2 span.non-mq { display: none; } }
/* line 55, ../../compass/src/enhanced.scss */
span.small { display: none; }

/* line 60, ../../compass/src/enhanced.scss */
span.large { display: block; }
