.small-row {
  margin-left: -1%;
  margin-right: -1%;
  /**
   * For IE 6/7 only
   * Include this rule to trigger hasLayout and contain floats.
   */ }
  .small-row:before, .small-row:after {
    content: " ";
    /* 1 */
    display: table;
    /* 2 */ }
  .small-row:after {
    clear: both; }
  .small-row {
    *zoom: 1; }

.small-col-1 {
  width: 6.33333%; }
  .small-col-1, .small-col-2, .small-col-3, .small-col-4, .small-col-5, .small-col-6, .small-col-7, .small-col-8, .small-col-9, .small-col-10, .small-col-11, .small-col-12 {
    float: left;
    margin-left: 1%;
    margin-right: 1%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }

.small-col-2 {
  width: 14.66667%; }

.small-col-3 {
  width: 23%; }

.small-col-4 {
  width: 31.33333%; }

.small-col-5 {
  width: 39.66667%; }

.small-col-6 {
  width: 48%; }

.small-col-7 {
  width: 56.33333%; }

.small-col-8 {
  width: 64.66667%; }

.small-col-9 {
  width: 73%; }

.small-col-10 {
  width: 81.33333%; }

.small-col-11 {
  width: 89.66667%; }

.small-col-12 {
  width: 98%; }

.small-offset-1 {
  margin-left: 8.33333%; }

.small-push-1 {
  position: relative;
  right: auto;
  left: 8.33333%; }

.small-pull-1 {
  position: relative;
  left: auto;
  right: 8.33333%; }

.small-offset-2 {
  margin-left: 16.66667%; }

.small-push-2 {
  position: relative;
  right: auto;
  left: 16.66667%; }

.small-pull-2 {
  position: relative;
  left: auto;
  right: 16.66667%; }

.small-offset-3 {
  margin-left: 25%; }

.small-push-3 {
  position: relative;
  right: auto;
  left: 25%; }

.small-pull-3 {
  position: relative;
  left: auto;
  right: 25%; }

.small-offset-4 {
  margin-left: 33.33333%; }

.small-push-4 {
  position: relative;
  right: auto;
  left: 33.33333%; }

.small-pull-4 {
  position: relative;
  left: auto;
  right: 33.33333%; }

.small-offset-5 {
  margin-left: 41.66667%; }

.small-push-5 {
  position: relative;
  right: auto;
  left: 41.66667%; }

.small-pull-5 {
  position: relative;
  left: auto;
  right: 41.66667%; }

.small-offset-6 {
  margin-left: 50%; }

.small-push-6 {
  position: relative;
  right: auto;
  left: 50%; }

.small-pull-6 {
  position: relative;
  left: auto;
  right: 50%; }

.small-offset-7 {
  margin-left: 58.33333%; }

.small-push-7 {
  position: relative;
  right: auto;
  left: 58.33333%; }

.small-pull-7 {
  position: relative;
  left: auto;
  right: 58.33333%; }

.small-offset-8 {
  margin-left: 66.66667%; }

.small-push-8 {
  position: relative;
  right: auto;
  left: 66.66667%; }

.small-pull-8 {
  position: relative;
  left: auto;
  right: 66.66667%; }

.small-offset-9 {
  margin-left: 75%; }

.small-push-9 {
  position: relative;
  right: auto;
  left: 75%; }

.small-pull-9 {
  position: relative;
  left: auto;
  right: 75%; }

.small-offset-10 {
  margin-left: 83.33333%; }

.small-push-10 {
  position: relative;
  right: auto;
  left: 83.33333%; }

.small-pull-10 {
  position: relative;
  left: auto;
  right: 83.33333%; }

.small-offset-11 {
  margin-left: 91.66667%; }

.small-push-11 {
  position: relative;
  right: auto;
  left: 91.66667%; }

.small-pull-11 {
  position: relative;
  left: auto;
  right: 91.66667%; }

.small-centered {
  margin-left: auto !important;
  margin-right: auto !important;
  float: none !important; }

body {
  font-family: sans-serif; }

.inner {
  max-width: 1000px;
  margin: 0 auto; }

.small-row span, .small-row .multi, .large-row span, .large-row .multi, .row span, .row .multi, .custom-row span, .custom-row .multi {
  display: block;
  background: #eee;
  padding: 0.5em;
  text-align: center;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  font-size: 0.8em;
  border: 1px solid #ddd; }
  .small-row span span, .small-row .multi span, .large-row span span, .large-row .multi span, .row span span, .row .multi span, .custom-row span span, .custom-row .multi span {
    background: #ddd;
    border-color: #ccc; }

span.large {
  display: none; }

@media screen and (min-width: 40.5em) {
  .large-row {
    margin-left: -1%;
    margin-right: -1%;
    /**
     * For IE 6/7 only
     * Include this rule to trigger hasLayout and contain floats.
     */ }
    .large-row:before, .large-row:after {
      content: " ";
      /* 1 */
      display: table;
      /* 2 */ }
    .large-row:after {
      clear: both; }
    .large-row {
      *zoom: 1; }

  .large-col-1 {
    width: 6.33333%; }
    .large-col-1, .large-col-2, .large-col-3, .large-col-4, .large-col-5, .large-col-6, .large-col-7, .large-col-8, .large-col-9, .large-col-10, .large-col-11, .large-col-12 {
      float: left;
      margin-left: 1%;
      margin-right: 1%;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box; }

  .large-col-2 {
    width: 14.66667%; }

  .large-col-3 {
    width: 23%; }

  .large-col-4 {
    width: 31.33333%; }

  .large-col-5 {
    width: 39.66667%; }

  .large-col-6 {
    width: 48%; }

  .large-col-7 {
    width: 56.33333%; }

  .large-col-8 {
    width: 64.66667%; }

  .large-col-9 {
    width: 73%; }

  .large-col-10 {
    width: 81.33333%; }

  .large-col-11 {
    width: 89.66667%; }

  .large-col-12 {
    width: 98%; }

  .large-offset-1 {
    margin-left: 8.33333%; }

  .large-push-1 {
    position: relative;
    right: auto;
    left: 8.33333%; }

  .large-pull-1 {
    position: relative;
    left: auto;
    right: 8.33333%; }

  .large-offset-2 {
    margin-left: 16.66667%; }

  .large-push-2 {
    position: relative;
    right: auto;
    left: 16.66667%; }

  .large-pull-2 {
    position: relative;
    left: auto;
    right: 16.66667%; }

  .large-offset-3 {
    margin-left: 25%; }

  .large-push-3 {
    position: relative;
    right: auto;
    left: 25%; }

  .large-pull-3 {
    position: relative;
    left: auto;
    right: 25%; }

  .large-offset-4 {
    margin-left: 33.33333%; }

  .large-push-4 {
    position: relative;
    right: auto;
    left: 33.33333%; }

  .large-pull-4 {
    position: relative;
    left: auto;
    right: 33.33333%; }

  .large-offset-5 {
    margin-left: 41.66667%; }

  .large-push-5 {
    position: relative;
    right: auto;
    left: 41.66667%; }

  .large-pull-5 {
    position: relative;
    left: auto;
    right: 41.66667%; }

  .large-offset-6 {
    margin-left: 50%; }

  .large-push-6 {
    position: relative;
    right: auto;
    left: 50%; }

  .large-pull-6 {
    position: relative;
    left: auto;
    right: 50%; }

  .large-offset-7 {
    margin-left: 58.33333%; }

  .large-push-7 {
    position: relative;
    right: auto;
    left: 58.33333%; }

  .large-pull-7 {
    position: relative;
    left: auto;
    right: 58.33333%; }

  .large-offset-8 {
    margin-left: 66.66667%; }

  .large-push-8 {
    position: relative;
    right: auto;
    left: 66.66667%; }

  .large-pull-8 {
    position: relative;
    left: auto;
    right: 66.66667%; }

  .large-offset-9 {
    margin-left: 75%; }

  .large-push-9 {
    position: relative;
    right: auto;
    left: 75%; }

  .large-pull-9 {
    position: relative;
    left: auto;
    right: 75%; }

  .large-offset-10 {
    margin-left: 83.33333%; }

  .large-push-10 {
    position: relative;
    right: auto;
    left: 83.33333%; }

  .large-pull-10 {
    position: relative;
    left: auto;
    right: 83.33333%; }

  .large-offset-11 {
    margin-left: 91.66667%; }

  .large-push-11 {
    position: relative;
    right: auto;
    left: 91.66667%; }

  .large-pull-11 {
    position: relative;
    left: auto;
    right: 91.66667%; }

  .large-centered {
    margin-left: auto !important;
    margin-right: auto !important;
    float: none !important; }

  span.small {
    display: none; }

  span.large {
    display: block; } }
