@import "../../sass/fluid-grid";

@include grid($small-grid);

body
{
	font-family: sans-serif;
}

.inner
{
	max-width: 1000px;
	margin: 0 auto;
}

.small-row, .large-row, .row, .custom-row
{
	span, .multi
	{
		display: block;
		background: #eee;
		padding: 0.5em;
		text-align: center;

		margin-top: 0.5em;
		margin-bottom: 0.5em;
		font-size: 0.8em;

		border: 1px solid #ddd;

		span
		{
			background: #ddd;
			border-color: #ccc;
		}
	}
}

span.large
{
	display: none;
}

@media screen and (min-width: 40.5em) {
	@include grid($large-grid);

	span.small
	{
		display: none;
	}

	span.large
	{
		display: block;
	}
}
